body {
    background: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow: hidden;
}

.jq-toast-single {
    width: 300px;
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 43px;
    background: #29A85C;
    color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

    #header a {
        color: #FFFFFF;
        font-size: 12px;
        margin: 20px;
        float: left;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        line-height: 5px;
        white-space: nowrap;
    }

    #header .header-right {
        float: right;
    }

    #header #lnk-records, #lnk-manager, #lnk-designer, #lnk-editor, #lnk-approval, #lnk-users, #lnk-profiles, #lnk-notifications {
        display: none;
    }

/*lang*/
#lang {
    margin-top: 10px;
    margin-right: 20px;
    color: #000;
}

    #lang .lang {
        cursor: pointer;
        padding-right: 3px;
        padding-left: 3px;
    }

        #lang .lang:hover {
            opacity: .8;
        }

.dropdown-menu {
    min-width: 90px;
}

/*notifications*/
#lnk-notifications {
    margin: 0 !important;
    margin-top: 10px !important;
}

/*page-header*/
#page-header{
    display:none;
}
/*page-content*/
#page-content{
    display:none;
}